body{
margin: 0;
background-image: url(new2.jpg);
}
.main_heading
{
    display: inline-block;
    text-align: center;
    color: darkgoldenrod;
    font-size: 100px;
    position: relative;
    left: 400px;
}
p
{
    color: ghostwhite;
}
.address
{
    position: relative;
    left: 870px;
    bottom: 100px;
    
}
button
{
    background-color: greenyellow;
    width: 100px;
    margin: 10px 20px ;
    padding: 10px 20px;
    
}
.links{
    position: relative;
    bottom: 30px;
}
.csea{
    text-decoration: none;
    font: bold;
    color: ghostwhite;
    
}
.csea:hover
{
    color: greenyellow;
}
.registration{
    color: darkorange;
    font-size: 40px;
    position: relative;
    left: 500px;
    text-decoration: none;
}
.registration:hover
{
    color: greenyellow;
}
.contact
{
    color: darkorange;
    font-size: 40px;
    position: relative;
    left: 520px;
    text-decoration: none;
}
.contact:hover
{
    color: greenyellow; 
}